# Environment files
.env

# Maven build output
**/target/

# Node
node_modules/

# EC private key
**/eudi-verifier-ec-key.json

# Keycloak runtime logs
**/transaction-logs/
ngrok.log

# Editor
.vscode/

# OS
.DS_Store
